/* --
CSS Reseter
CSSLab © 2007
Basado en: Yahoo UI Reset CSS, Eric Meyer's Reworked Reset y experiencias personales
-- */
body {	
	scrollbar-3dlight-color: #6699CC;
    scrollbar-arrow-color: #6699CC;
    scrollbar-base-color: #6699CC;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-highlight-color: #E3E3E3;
    scrollbar-shadow-color #000000:
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

a img, iframe {
	border: none;
}

ol, ul {
	list-style: none;
}

.menu_acord_cont li a{color:#001001; list-style-type:square; border-width:0px 0px 1px 0px; border-color:#e3e3e2; border-style:none none solid none; padding:5px 0px 5px 0px; width:100%}
.menu_acord_cont li a:hover{text-decoration:underline;}

.menu_acord_cont li a .mi_a{color:#FFF; border-width:0px 0px 0px 0px; list-style-type:none; width:5px; border-style:none; padding:0px;}

input, textarea, select, button {
	font-size: 100%;
	font-family: inherit;
}

select {
	margin: inherit;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left:2em; }


/* ========================================= clearfix == */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

/*general styles*/
@charset "utf-8";
/* CSS Document */

.stlTextFor {
	font-family: Tahoma;
	font-size: 9px;
	color: #3162A4;
	border: none;
	padding: 1px 3px;
	text-align: right; 
	font-weight:bold;
}

.stlTextForb {
	font-family: Tahoma;
	font-size: 9px;
	color: #3162A4;
	border: none;
	padding: 1px 3px;
	text-align: center;
	vertical-align:middle;
	font-weight:bold;
}

.stlTextForc {
	font-family: Tahoma;
	font-size: 9px;
	color: #3162A4;
	border: none;
	padding: 1px 3px;
	text-align: left; 
	font-weight:bold;
}

.stlText1 {	
	font-family: Tahoma;
	font-size: 11px;
	color: #004080;
	border: none;
	padding: 1px 3px;
}

.stlText1b {	
	font-family: Tahoma;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
	padding: 1px 3px;
	text-align: center; 
	font-weight:bold;
}

.stlText1c {	
	font-family: Tahoma;
	font-size: 16px;
	color: #FFFFFF;
	background:#3162A4;
	border: none;
	padding: 1px 3px;
	text-align: center; 
	font-weight:bold;
}

.stlTextAB {
		font-family: Tahoma;
		font-size: 20px;
		font-weight:bold;
		color: #3162A4;
		border: none;
		padding: 1px 3px;
		text-align: center; 	
}

.stlText2 {
		font-family: Arial;
		font-size: 32px;
		font-weight:bold;
		color: #FFFFFF;
		border: none;
		padding: 1px 3px;
		text-align: center; 	
}

.stlText2ba {
		font-family: Arial;
		font-size: 16px;
		font-weight:bold;
		color: #FFFFFF;
		border: none;
		padding: 1px 3px;
		text-align: center; 	
}

.stlText2ba2 {
		font-family: Arial;
		font-size: 24px;
		font-weight:bold;
		color: #FFFFFF;
		border: none;
		padding: 1px 3px;
		text-align: center; 	
}

.stlText2b {
		font-family: Arial;
		font-size: 14px;
		font-weight:bold;
		color: #3162A4;
		border: none;
		padding: 1px 3px;
		text-align: left; 	
}

.stlText3 {
		font-family: Tahoma;
		font-size: 12px;
		color:#666666;
		border: none;
		padding: 1px 3px;
		text-align: justify; 
}

.stlText3b {
		font-family: Tahoma;
		font-size: 14px;
		color:#666666;
		border: none;
		padding: 1px 3px;
		text-align: justify; 
}

.stlText3c {
		font-family: Tahoma;
		font-size: 12px;
		color:#666666;
		border: none;
		padding: 1px 3px;
		text-align: right; 
}

#wrap { 
	width: 1000;
	margin:auto;
	background:#FFF;
	text-align: left; 
	}
	
#wrap2 { 
	width: 1000px;
	margin: 20 auto 0 auto;
	background-color: #FFFFFF;
	text-align: left; 
	}

.stlInput {
	border: 1px solid #C0C0C0;
	/** remember to change image path **/
	background: url(../css/none) no-repeat  #FCFCFC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: bold;
	font-size: 12px;
	color: #00688B;
}

/** You can use this style for your LABEL elements **/
.stlLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-style: bold;
	font-size: 12px;
	color: #005E91;
}

.od {
		background-color:#f6f6f6;
}

.odd {  background-color:#f6f6f6;
		font-family: Tahoma;
		font-size: 10px;
		font-weight:bold;
		color: #3162A4;
		border: none;
		padding: 1px 3px;
		text-align: left; 
}

.ddo {
		font-family: Tahoma;
		font-size: 10px;
		color: #3162A4;
		border: none;
		padding: 1px 3px;
		text-align: left; 
}

a:hover {
	text-decoration:none;
}
a {
	text-decoration:none;
	color:#3162A4;
	font-family: Tahoma;
	font-size: 10px;
	font-weight:bold;
}

.textfooter{
	font-family: Arial;
	font-size: 9px;
	color: #3162A4;
	border: none;
	padding: 1px 3px;
	text-align: center; 
	font-weight: bold;
}