@charset "utf-8";
/* CSS Document */

.fuenteTitulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	font-weight:bolder;
	color:#666;
}
.fuenteSubTitulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bolder;
	color:#666;
}

.fuenteSubCot{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	color:#666;
}

.fuenteColumnas{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	height:15px;
}

.fuenteDatos{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	height:15px;
}

.fuenteFilas{
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
}
.fuenteChicas{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}